.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    border: black 3px solid;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(40, 36, 250));
    box-shadow: -5px 5px 8px grey;
    color: black;
}

h1 {
    font-size: 50px;
    padding-top: 10px;
}

.average{
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(189, 182, 182));
    border-radius: 14%;
    margin-left: 20px;
    border: black 3px solid;
    color: black;
}

table{
    border: 3px solid black;
    margin-top: 20px;
    box-shadow: -6px 6px 8px grey;
    color: black
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(189, 182, 182));
 }
